# General
.DS_Store
Thumbs.db
*.log
*.tsbuildinfo

# Environment
.env
.env.local

# Node.js (Backend)
node_modules/
dist/
coverage/

# Android
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
*.iml

# Misc
*.codex
*.swp
test/
google-services
google-services.json
google-service.json
